.cabezero {
    border: 10px solid rgb(171, 162, 162);
    font-style: italic;
    margin-left: 10px;
    z-index: 2;
}



.foto {
    float: right;
   
}

.cuadrado {
    width: 245px; 
    height: 245px; 
    background-color: rgb(45, 40, 40);
    margin-top: 10px;
    margin-right: 25px;
    float: right;
    z-index: 3;
}

.cuerpo1 {
    float: left;
    margin-bottom: 1px;
}

.experiencia {

    margin-bottom: -;
    margin-right: 222px;
    
}

.educacion {
    width: 250px; 
    height: 225px; 
    background-color: rgb(206, 185, 185);
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    font-size: 12px;
}

.puntuacion {
    margin-left: 10px;
    margin-top: 250px;
}

.cualidad1 {
    margin-bottom: -125px;
    margin-left: 25pc;
    height: 85px;
    width: 120px; 
    background-color: gray;
    font-size: larger;
}

.cualidad2 {
    margin-top: 40px;
    margin-left: 32pc;
    height: 85px;
    width: 120px; 
    background-color: gray;
    font-size: larger;
}